@model Caloric.Models.Nutrientes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nutrientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Carboidratos" class="control-label"></label>
                <input asp-for="Carboidratos" class="form-control" />
                <span asp-validation-for="Carboidratos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proteinas" class="control-label"></label>
                <input asp-for="Proteinas" class="form-control" />
                <span asp-validation-for="Proteinas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gorduras" class="control-label"></label>
                <input asp-for="Gorduras" class="form-control" />
                <span asp-validation-for="Gorduras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodio" class="control-label"></label>
                <input asp-for="Sodio" class="form-control" />
                <span asp-validation-for="Sodio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acucar" class="control-label"></label>
                <input asp-for="Acucar" class="form-control" />
                <span asp-validation-for="Acucar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
